# Boreas test defaults
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# Enable all Boreas features for testing
CONFIG_ZKERNEL_SYS_INIT=y
CONFIG_ZKERNEL_SYS_INIT_MAX_ENTRIES=32
CONFIG_ZKERNEL_MUTEX_DEBUG=y
CONFIG_ZKERNEL_MUTEX_HOLD_WARNING_MS=5000

CONFIG_ZSYS_LOG_MODULE=y
CONFIG_ZSYS_RETRY=y

# Unity test framework
CONFIG_UNITY_ENABLE_FLOAT=y
