CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

CONFIG_DEVICE_MODEL_GPIO=y
CONFIG_DEVICE_MODEL_UART=y
CONFIG_UART_INTERRUPT_DRIVEN=y
CONFIG_UART_ASYNC_API=y
CONFIG_UART_RS485=y

CONFIG_ZSYS_LOG_MODULE=y
